@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900');

$font: "Montserrat", sans-serif;

html {
    font-family: $font;
    font-size: 14px;
    
}

body {
    background: url(./bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.wrapper {
    margin: 0 auto;
    width: 835px;
    max-width: 100%;
    position: relative;
    
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section {
    cursor: context-menu;
}

strong {
    letter-spacing: 1.3rem;
}

.justify {
    letter-spacing: 0;
 

}
h1 {
    font-size: 5.3rem;
    font-weight: 900;
    text-align:justify;
    text-transform: uppercase;
    margin: 0 0;
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
    

    .block {
  
      
        background: black;
        padding: 10px 45px 10px 15px;
        line-height: 16px;
        float: right;
        left: 0;
        top: 0;
        position: relative;
    }

    .text {
        color: white;
        font-size: 0.96rem;
        font-weight: 600;
        display: inline-block;
    }

    .justify {
        word-spacing: 37rem;
        display: inline-block;
       
    }
}

p {
    font-size: 1.35rem;
    line-height: 35px;
    left: 0;
    top: 0;
    position: relative;
}


.logos {
    padding-top: 20px;
}

.logo{
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    &:hover {
        margin-left: 20px;
    }
}


#logo1 {
    flex: 0 0 16.167%;
    

}

#logo2 {
    flex: 0 0 10.898%;
   
}

#logo3 {
    flex: 0 0 17.365%;
   
}

#logo4 {
    flex: 0 0 13.053%;
   
}

#logo5 {
    flex: 0 0 12.5748%;
    
}


@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 78%;
    }

    .logos.flexbox {
        justify-content: space-around;
    }

    h1 {
        font-size: 3.3rem;
    }

    strong {
        letter-spacing: 1.5rem;
    }
}


@media only screen and (max-width: 768px) {
    .wrapper {
       
    }
    .flexbox {
        flex-direction: column;
    }

    h1 {
        font-size: 2.3rem;
        text-align: left;
    }
}
    



